html,
body {
    margin: 0;
    height: 100%;
    /* font-size: 12.5px; */
    /* overflow: hidden; */
    font-family: 'Silkscreen', monospace;
    /* font-size: 1.25rem; */
}

body {
    /* text-align: center; */
    background: #fff;
}

#my-canvas {
    background: #fff;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    /* pixel perfect drawing: */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    /* border: 1px red solid; */
}

.full-container {
    width: 530px;
    margin: auto;
    /* border: 1px green solid; */
}

.container {
    display: flex;
}

h1 {
    margin: 0;
    line-height: 1.05em;
}

h2 {
    margin: 0;
    /* line-height: 1.1em; */
}

h3 {
    margin: 0;
    font-size: 1.2rem;
    /* line-height: 1.1em; */
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    /* display: none;  */
    width: 214px; /* Full width (cover the whole page) */
    height: 462px; /* Full height (cover the whole page) */
    top: 40px;
    left: 0;
    right: 283px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(0,0,0,0.5); Black background with opacity */
    /* z-index: 2; */
    
    /* align-items: center; */
    /* display: flex; */
}

.game-over {
    display: block;
    text-align: center;
    /* margin: auto; */
    /* width: 50%; */
    font-size: 1.5rem;
    /* position: absolute; */
    /* left: -205px; */
    color: red;
    background: white; /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    margin-bottom: 10px;
}

.highscore-outer{
    border: 1px solid black;
    text-align: center;
    color: red;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.92);
}

.highscore-display{
    visibility: inherit;
    text-align:left;
    font-size: .9rem;
}

.highscore-prompt {
    /* display: block; */
    text-align: center;
    /* display:flex; */
    /* flex-direction: column; */
    font-size: 1.5rem;
    /* position: absolute; */
    color: red;
    background: white; /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid black;
    /* padding: 10px; */
}

.text-number {
    font-size: 1.5rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

.text-controls {
    margin-bottom: 5px;
}

.right-col {
    transform: translateX(-112px);
}

#next-title {
    margin-bottom: 66px;
}

.mobile-controls {
    margin-left: 5px;
    margin-right: 5px;
    /* text-align: center; */
    /* margin: auto; */
    width: 349px;
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

input {
    font-family: 'Silkscreen', monospace;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    font-family: 'Silkscreen', monospace;
    touch-action: manipulation;
    margin: 0px;
    outline: 0;
    /* grid-gap: 8px; */
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    /* border-radius: 4px; */
    color:black;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    /* gap: 8px; */
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    box-shadow: 2px 2px 0 #000;
}

button:hover {
    background-color: #f8f8f8;
}

button:active {
    box-shadow: 0px 0px 0 #000;
    transform: translate(2px, 2px);
}

.shadowed {
    box-shadow: 2px 2px 0 #000;
    transform: translate(-2px, -2px);
}

.option-button {
    font-family: 'Silkscreen', monospace;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* button:focus-visible {
    outline-offset: 1px;
} */

.rot-controls {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.rot-button {
    font-size: 2rem;
    flex: 1 0 0;
    min-height: 60px;
}

.dir-controls {
    display: flex;
    gap: 5px;
}

.dir-button {
    font-size: 2rem;
    flex: 1 1 0;
    min-height: 60px;
}

/* keep these off screen */
.block-renders {
    visibility: hidden;
}

/* BIG */
@media only screen and (min-width: 601px) {
    .mobile-controls {
        display: none;
    }

    .title-break {
        display: none;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    #controls {
        display: none;
    }

    .text-controls {
        display: none;
    }

    .full-container {
        width: 360px;
        margin: auto;
    }
}