html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Silkscreen', monospace;
    touch-action: manipulation; /*remove double-tap zoom*/
}

:root {
    --fullWidth: 412px;
    --fullHeight: 462px;
}

body {
    background: #fff;
}

#my-canvas {
    background: #fff;
    margin: 10px 5px 0px 5px;
    /* pixel perfect drawing: */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

.full-container {
    width: var(--fullWidth);
    margin: auto;
}

h1 {
    margin: 0;
    line-height: 1.05em;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 1.2rem;
}

.right-col {
    position: absolute;
    width: 145px;
    height: var(--fullHeight); /* Full height (cover the whole page) */
    left: 0;
    right: calc(var(--fullWidth) - 642px);
    margin: 0 auto;
}

.overlay {
    position: absolute;/* Sit on top of the page content */
    width: 214px;  /* Full width (cover the whole page) */
    height: var(--fullHeight); /* Full height (cover the whole page) */
    top: 40px;
    left: 0;
    right: calc(var(--fullWidth) - 246px);
    bottom: 0;
    margin: 0 auto;
}

.game-over, .highscore-prompt {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: red;
    background: rgba(255, 255, 255, 0.92);
    border: 1px solid black;
    margin-bottom: 10px;
}

.highscore-outer {
    border: 1px solid black;
    text-align: center;
    color: red;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.92);
}

.highscore-display {
    visibility: inherit;
    text-align: left;
    font-size: .9rem;
}

.text-number {
    font-size: 1.5rem;
    margin: -5px 0 5px;
}

.text-controls {
    margin-bottom: 5px;
}

#next-title {
    margin-bottom: 66px;
}

.mobile-controls {
    margin: 0 5px;
    width: 349px;
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

input, button {
    font-family: 'Silkscreen', monospace;
    margin: 0 10px 10px;
    width: calc(100% - 20px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    outline: 0;
    align-items: center;
    background: 0 0;
    border: 1px solid #000;
    color: black;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    box-shadow: 2px 2px 0 #000;
    margin: 0;
}

button:hover {
    background-color: #f8f8f8;
}

button:active {
    box-shadow: 0px 0px 0 #000;
    transform: translate(2px, 2px);
}

.shadowed {
    box-shadow: 2px 2px 0 #000;
    transform: translate(-2px, -2px);
}

.option-button {
    font-family: 'Silkscreen', monospace;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 146px;
}

.rot-controls, .dir-controls {
    display: flex;
    gap: 6px;
    margin-bottom: 6px;
}

.rot-button, .dir-button {
    font-size: 2rem;
    flex: 1 0 0;
    min-height: 60px;
}

/* keep these off screen */
.block-renders {
    visibility: hidden;
}

/* BIG */
@media only screen and (min-width: 601px) {
    .mobile-controls, .title-break {
        display: none;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    #controls, .text-controls, .title-hide {
        display: none;
    }

    .full-container {
        width: 360px;
        margin: auto;
    }

    .right-col {
        width: 115px;
        right: -250px;
    }

    .overlay {
        right: 114px;
        bottom: 0;
    }

    .option-button{
        width: 107px;
    }
}