html,
body {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    font-family: 'Silkscreen', monospace;
    /* font-size: 1.25rem; */
}

body {
    /* text-align: center; */
    background: #fff;
}

#my-canvas {
    background: #fff;
    margin-left: 10px;
    margin-top: 10px;
    /* pixel perfect drawing: */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
}

.container {
    display: flex;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.text-number {
    font-size: 1.5rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

.right-col {
    transform: translateX(-100px);
}

#next-title {
    margin-bottom: 66px;
}

.mobile-controls {
    margin-left: 5px;
    margin-right: 5px;
}

button {
    touch-action: manipulation;
    /* Safari */
    -webkit-user-select: none;
    /* IE 10 and IE 11 */
    -ms-user-select: none;
    /* Standard syntax */
    user-select: none;
}

.rot-controls {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.rot-button {
    font-size: 2rem;
    flex: 1 0 0;
    min-height: 60px;
}

.dir-controls {
    display: flex;
    gap: 5px;
}

.dir-button {
    font-size: 2rem;
    flex: 1 1 0;
    min-height: 60px;
}

#restart-container{
    /* display: flex; */
}

.restart-button {
    /* position:absolute; */
    font-family: 'Silkscreen', monospace;
    font-size: 1rem;
    /* min-height: 60px; */
    /* width: calc(100% - 5px); */
    /* flex: 1 1 0; */
}

/* BIG */
@media only screen and (min-width: 601px) {
    .mobile-controls {
        display: none;
    }

    .title-break {
        display: none;
    }
}

/* MOBILE */
@media only screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    #controls {
        display: none;
    }

    .text-controls {
        display: none;
    }
}